{% extends 'base.html' %}
{% block script %}
 <title>{{context.title}}</title>
{% endblock %}



{% block content %}

<div class="form-card">
    <form class="form" method="POST">
        <br>
        <h1>Редактировать объект #{{context.pers_number}}</h1>
        <div class="field-container">


            <div class="form-field">
                <div class="field-wrapper">
                    <label class="field-title">Фамилия</label>
                    <input type="text"  name="Surname" class="field-input" placeholder="Введите фамилию" value="{{context.editable_person.surname}} ">
                </div>
            </div>
            <div class="form-field">
                <div class="field-wrapper">
                    <label class="field-title">Имя</label>
                    <input type="text" name="Name" class="field-input" placeholder="Введите имя" value="{{context.editable_person.name}}">
                </div>
            </div>
            <div class="form-field">
                <div class="field-wrapper">
                    <label class="field-title">Тип объекта</label>
                    <select name="type" class="field-input">
                        <option selected> {{context.editable_person.type}} </option>
                        {% for type in context.obj_type %}
                        <option>{{type}}</option>
                        {% endfor  %}
                    </select>
                </div>
            </div>
            <div class="form-field">
                <div class="field-wrapper">
                    {% if context.editable_person.type == "Писатель" %}
                    <label id="obj_label1" class="field-title">Стаж</label>
                    <input id="obj_number1" type="number" name="Experience" class="field-input" placeholder="Введите стаж писателя" value="{{context.editable_person.experience}}">
                    {% else %}
                    <label id="obj_label1" class="field-title">Возраст</label>
                    <input id="obj_number1" type="number" name="Age" class="field-input" placeholder="Введите возраст" value="{{context.editable_person.age}}">
                    {% endif %}
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary mb-3">Сохранить</button>
        </div>

    </form>
</div>

<script src="{{ url_for('static', filename='js/add_person.js') }} "></script>
{% endblock %}