{% extends 'index.html' %}
{% block card_table %}
<div class="container">
 <table class="table_sort table table-bordered table-hover table-striped">
        <thead>
        <tr>
{#            <th>#</th>#}
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Тип</th>
            <th>Возраст</th>
            <th>РСВР</th>
            <th>Стаж</th>
            <th>Зарплата</th>
{#            <th>Редактировать</th>#}
{#            <th>Удалить</th>#}
        </tr>
        </thead>
        <tbody>

        {% for person in context.person_list %}
        <tr>
{#            <td> {{person}} </td>#}
            <td> {{ person.surname }}  </td>
            <td> {{ person.name }} </td>
            <td> {{ person.type }}</td>
            {%if person.type == "Читатель" %}
            <td> {{ person.age  }} </td>
            <td> {{ person.age_limit }} </td>
            <td> - </td>
            <td> - </td>
            {% elif person.type == "Писатель" %}
            <td> - </td>
            <td> - </td>
            <td> {{ person.experience }} </td>
            <td> {{ person.salary }} P </td>
            {% endif %}
{#            <td> <a href="{{ url_for('.edite_person', pers_number=person[0]) }} " type="button"> Редактировать </a> </td>#}
{#            <td> <a href="{{ url_for('.del_person', pers_number=person[0]) }}   " type="button"> Удалить </a> </td>#}
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
<script src="{{ url_for('.static', filename='js/table.js') }} "></script>
{% endblock %}